<img src="https://static.vecteezy.com/system/resources/previews/010/719/406/non_2x/boy-booking-hotel-illustration-concept-on-white-background-vector.jpg" alt="">


<div id="image" class="photo"></div>
<div class="stars">
  <a href=""><i class="fa-regular fa-star"></i></a>
  <a href=""><i class="fa-regular fa-star"></i></a>
  <a href=""><i class="fa-regular fa-star"></i></a>
  <a href=""><i class="fa-regular fa-star"></i></a>
  <a href=""><i class="fa-regular fa-star"></i></a>
</div>

<div class="line-container">
  <div class="line first-line"></div>
  <h3>USP section</h3>
  <div class="line second-line"></div>
</div>
<div class="uspCont">
<div class="usp">
  <a href=""><i class="fa-solid fa-martini-glass"></i></a>
  <h2>Beverages included</h2>
  <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Enim, nostrum? Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia tempora fugit ipsa placeat? Ipsam ex exercitationem quos veniam nisi maiores.</p>
</div>
<div class="usp">
  <a href=""><i class="fa-regular fa-credit-card"></i></a>
  <h2>Stay First, Pay After!</h2>
  <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Enim, nostrum? Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam, saepe! Alias debitis ipsa eaque eos repellat, molestiae ex? Totam, non!</p>
</div>
<div class="usp">
  <a href=""><i class="fa-solid fa-utensils"></i></a>
  <h2>24 Hour Restaurant</h2>
  <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Enim, nostrum? Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nisi, a. Laudantium quas quia nostrum eveniet labore molestias qui unde distinctio?</p>
</div>
<div class="usp">
  <a href=""><i class="fa-solid fa-martini-glass"></i></a>
  <h2>Spa Included!</h2>
  <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Enim, nostrum? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam sed maxime est obcaecati eum, magni iste ipsam explicabo inventore dolorum.</p>
</div>
</div>
