<form #bookingForm="ngForm" (ngSubmit)="onSubmit(bookingForm)">
    <h2>reservation</h2>
  
    <div class="book-form">
      <label for="customerName">Name and Surname:</label>
      <input
        type="text"
        id="customerName"
        name="customerName"
        ngModel
        required
      />
    </div>
  
    <div class="book-form">
      <label for="checkInDate">Check-in Date:</label>
      <input
        type="date"
        id="checkInDate"
        name="checkInDate"
        ngModel
        required
      />
    </div>
  
    <div class="book-form">
      <label for="checkOutDate">Check-out Date:</label>
      <input
        type="date"
        id="checkOutDate"
        name="checkOutDate"
        ngModel
        required
      />
    </div>
  
    <div class="book-form">
      <label for="customerPhone">Phone Number:</label>
      <input
        type="tel"
        id="customerPhone"
        name="customerPhone"
        placeholder="Enter phone number"
        pattern="^\+?[0-9\s\-]{7,15}$"
        ngModel
        required
      />
    </div>
  
    <input type="hidden" id="id" name="id" ngModel />
  
    <button type="submit" >Submit</button>
  </form>
  